nav.top ul li:nth-child(6) a{
    background-color: #d9168d;
    color: #fff;
    margin: -1px 0 0 1px;
    line-height: 25px;
}
.center [type='reset'], .center [type='submit']{
    border: 1px solid #000000;
    background-color: #cc0000;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}
.center> label{
    font-weight: bold;
}
.center{
    text-align: center;
    margin-top: 10px;
}
form{
    margin: 20px;
}
.center [type="text"]{
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.center textarea{
    width: 300px;
    resize: none;
    height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content{
    width: 960px;
    margin: auto;
    overflow: hidden;
    background-color: #404040 ;
    font-family: Arial, sans-serif;
    color: #9f9f9f;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content p, h2 {
    text-align: center;
}
.content a{
    text-decoration: none;
    color: #9f9f9f;
}
.content span{
    color: #c6c885;
}
.content h2{
    font: bold 20pt Times New Roman;
    color:#fff;
}
.content p{
    padding: 5px;

}
.content .left, .content .right{
    display: table-cell;
    width: 50%;
    padding-left: 50px;
}
.content .left{
    border-right: 2px dashed #707070;
}
.content .table{
    display: table;
    width: 700px;
    margin: auto;
}
.content ul{
    font-size: 10pt;
}
.table span{
    font-weight: bold;
}
.table strong{
    font-family: cellpicregular, sans-serif;
    font-size: 30pt;
    color: #c6c885;
    font-weight: normal;
}
