nav.top ul li:nth-child(3) a{
    background-color: #d9168d;
    color: #fff;
    margin: -1px 0 0 1px;
    line-height: 25px;
}
.content{
    width: 960px;
    margin: auto;
}
area{outline: none}
h2{
    font: bold 20pt Times New Roman;
    color:#353535;
    text-align: center;
}